.DS_Store
.dart_tool/

.packages
.pub/

build/

.idea
*.iml
.gradle
/.idea.workspace.xml
/.idea/libraries
/android/.gradle
/example/android/.gradle
/example/android/.idea
/example/.idea
/android/trojangolib/trojangolib.aar
/example/android/trojangolib/trojangolib.aar
